/* Recommended transitions
transform: translate();
transform: scale();
transform: rotate();
opacity
*/


main#transitions {

  hr {
    margin: 12px 0 24px;
  }

  div.transition-1 {
    @include animation-box(#FFF, $light-salmon-4);

    &:hover {
      transform-origin: 0 0;
      background-color: $sky-blue-1;
      transform: scale(3);
      border-radius: 70px;
      
      transition-property: background-color, border-radius, transform;
      transition-duration: 2s, 0.5s, 4s;
      transition-delay: 2s, 4s, 5s;
    }
  }

  .transition-2 {
    @include animation-box($honeydew-1, $lemon-chiffron-4);
    transition: 4s;

    &:hover {
      transform: translateX(300px);
      transition-property: transform;
      transition-duration: 2s;
      transition-delay: 0.2ms;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }    
  }

  .transition-3 {
    @include animation-box(lighten($sky-blue-1, 20), $steel-blue-4);
    transition: 2s;

    &:hover {
      transform: translateX(500px);
      // transition: transition-property transition-duration transition-timing-function transition-delay;
      transition: transform 4s ease-out 0.2ms;
    }
  }

  .transition-4 {
    @include animation-box(#FFF, $slate-grey-4);
    // transition-property: background-color;
    // transition-duration: 2s;
    // transition-delay: 2ms;
    // transition-timing-function: ease-in;

    transition: 
      background-color 1s ease-in 2ms, 
      border-radius 2s ease-in 4ms,
      transform 1s ease-out,
      opacity 1.5s linear 1s;

    &:hover {
      background-color: #F00;
      border-radius: 10px;
      transform: scale(1.25);
      opacity: 0.15;
    }
  }

  .transition-5 {
    @include animation-box(#fff, $primary-color, 200px, 2px);
    transform-origin: 0 0;
    transition: transform 2s ease-out;
    
    &:hover {
      transform-origin: 0 0;
      transform: scaleX(0.1);
    }
  }
}