main#transitions {

  hr {
    margin: 12px 0 24px;
  }

  div.transition-1 {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    color: #FFF;
    background-color: $light-salmon-4;

    &:hover {
      transform-origin: 0 0;
      background-color: $sky-blue-1;
      transform: scale(3);
      border-radius: 70px;
      
      transition-property: background-color, border-radius, transform;
      transition-duration: 2s, 0.5s, 4s;
      transition-delay: 2s, 4s, 5s;
    }
  }

  .transition-2 {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: $honeydew-1;
    background-color: $lemon-chiffron-4;

    &:hover {
      transform: translateX(300px);
      transition-property: transform;
      transition-duration: 4s;
      transition-delay: 0.2ms;
      transition-timing-function: ease-in-out;
    }    
  }
}