// colors
$primary-color: rgb(23, 162, 187);
$secondary-color: rgb(76, 161, 37);
$background-color: rgb(218, 218, 218);

$steel-blue-4: #36648b;
$slate-grey-4: #6c7b8b;
$sky-blue-1: #87ceff;
$light-salmon-4: #8b5742;
$lemon-chiffron-4: #8b8970;
$honeydew-1: #f0fff0;

$text-color: darken($slate-grey-4, 20%);